{% extends 'layout.html' %}
{% block body %}

<div class="card card-body">
    <form action="/update/{{contact.0}}" method="POST">    
        <input type="text" name="rut" placeholder="Rut" value="{{contact.1}}"> 
         
        <input type="text" name="nombres" placeholder="Nombres" value="{{contact.2}}">
             
        <input type="text" name="apellido_paterno" placeholder="Apellido paterno" value="{{contact.3}}">
        <br>
        <input type="text" name="apellido_materno" placeholder="Apellido materno" value="{{contact.4}}">
        
        <input type="text" name="sexo" placeholder="Sexo" value="{{contact.5}}">
          
        <input type="text" name="correo" placeholder="Correo" value="{{contact.6}}">
        <br>  
        <input type="text" name="telefono" placeholder="Telefono" value="{{contact.7}}">
        
        <input type="text" name="fecha_ingreso" placeholder="Fecha de ingreso" value="{{contact.8}}">
        
        <input type="text" name="estado" placeholder="Estado" value="{{contact.9}}">
        <br>
        <br>      
        <button type="submit">Save</button>
        <br>
        <br>
        <a href="/rrhh">Volver al visualizador</a>   
          
    </form>
</div>


{% endblock%}